 /* Шрифты */ 
/* @import "@fontsource/caveat/400.css";  
@import '@fontsource/caveat/700.css';  */
@font-face {
    font-family: 'Caesar Dressing SHA';
    src: url('/fonts/Caesar Dressing Cyrillic Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
 
@import '@fontsource/caveat/cyrillic-400.css';
@import '@fontsource/caveat/cyrillic-700.css';

/* @import '@fontsource/inter/cyrillic-400.css';
@import '@fontsource/inter/cyrillic-600.css'; */





