:root {
    --pagination-height: 110px;
}



/* ---------- 2. ОСНОВНОЙ МАКЕТ ---------- */

.app-container {
    display: grid;
    grid-template-areas:
        "header header header" /* Первая строка: ШАПКА на всю ширину */
        "left-sidebar main right-sidebar" /* Вторая строка: САЙДБАР (1/3) и КОНТЕНТ (2/3) */
        "footer footer footer"; /* Третья строка: ФУТЕР на всю ширину */

    grid-template-rows: 80px 1fr 100px;
    grid-template-columns: 250px 1fr 250px;
    min-height: 100vh; 
    gap: 5px; /* Отступы между блоками */
    padding: 10px; /* Отступы по краям */

     
}

.header {
    grid-area: header;
    background: #3498db;
    color: white;
    padding: 20px;
    font-size: 24px;

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
 
}

.left-sidebar {
    grid-area: left-sidebar; /* Новое имя */
    background-color: antiquewhite;
}

.right-sidebar {
    grid-area: right-sidebar; /* Новое имя */ 
    background-color: aqua;
}

.main {
    grid-area: main;
    background: #e74c3c;
    color: white;
    font-size: 24px;

    display: flex; 
    flex-direction: column; 
    align-items: center;
    
}

.main-container{
    max-width: 620px;
 
    width: 100%; 
    padding: 20px; 
    background-color: orchid; 
    flex: 1; /* ✅ Занимает всё свободное место */
 
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 80px; /* 👈 Отступ для пагинации (50px + запас) */
   

}

.main-content{
    font-size: 16px; 
}



.header {
    grid-area: header;
    background: #3498db;
    color: white;
    padding: 10px 20px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 10px;
}

.logo {
    grid-column: 2;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    min-width: 0;
}

.menu,
.mobile_menu {
    grid-column: 3;
    justify-self: end;
}

.mobile_menu {
    display: none;
}

.main-pagination{
    background-color: aquamarine;
    height: 60px;
    width: 100%; /* ✅ Добавляем */
    max-width: 450px; /* Ограничиваем ширину как у контейнера */
    flex-shrink: 0; /* ✅ Чтобы пагинация не сжималась */


     /* Центрируем текст пагинации */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;


    /* 🔥 Фиксируем пагинацию */
    position: fixed;
    bottom: var(--pagination-height);  
    left: 50%;  
    transform: translateX(-50%); 
    z-index: 101;
    

}

.footer {
    grid-area: footer;
    background: #f39c12;
    color: white;
    padding: 2%;
    font-size: 24px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;


    /* 🔥 Фиксируем футер */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    height: 110px; 

}
 